<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>e-Zest Guest Portal</title>
  <link rel="shortcut icon" href="https://www.e-zest.com/hubfs/images/sitefavicon.ico?t=1531735061240">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.min.css'>
<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300'>
<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Roboto:400,700,300'>
<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'>

      <link rel="stylesheet" href="registration/registration_success.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    window.setTimeout(function(){

// Move to a new location or you can do something else
window.location.href = "/";

}, 5000);
  })
  </script>

</head>

<body>

  <div class="signup__container">
  <div class="container__child signup__thumbnail">
    <div class="thumbnail__logo">
      <svg class="logo__shape" width="25px" viewBox="0 0 634 479" xmlns="http://www.w3.org/2000/svg">
        <g><img src="https://www.e-zest.com/hubfs/E-Zest_Images/128X128-pxl.png?t=1531380481753" width="30" height="35" position="absolute">
      <h1 class="logo__text">e-Zest</h1>
    </div>
    <div class="thumbnail__content text-center">
      <h1 class="heading--primary" >Welcome to e-Zest</h1>
      <h2 class="heading--secondary">Are you ready to join the elite?</h2>
    </div>
    <div class="thumbnail__links">
      <ul class="list-inline m-b-0 text-center">
        <li><a href="https://www.e-zest.com/" target="_blank"><i class="fa fa-globe"></i></a></li>
        <li><a href="https://www.facebook.com/eZest/" target="_blank"><fa class="fa fa-facebook"></fa></a></li>
        <li><a href="https://www.instagram.com/ezestsolutions/" target="_blank"><i class="fa fa-instagram"></i></a></li>
        <li><a href="https://twitter.com/ezest" target="_blank"><i class="fa fa-twitter"></i></a></li>
      </ul>
    </div>
    <div class="signup__overlay"></div>
  </div>
  <div class="container__child signup__form">
    <br><br>
  <h3 style="color:orangered">Your registration is successful.</h3><hr>
  <h3 style="color:orangered">Welcome to e-Zest</h3><hr>
  <h3 style="color:orangered">Experience Digital Innovation</h3><hr>

  </div>
  </div>
</div>
  
  

</body>

</html>
